openapi: 3.1.0
info:
  title: Partner Accounts Apps API
  version: 2024.11.0
  description: '

    ## Introduction


    The Partner API is the best tool for complete style control over a user''s Zapier experience within your app.

    Essentially, it lets you customize how you present Zapier within your product without sacrificing your app''s look,

    feel, and flow.


    Think of it as a native Zapier integration, helping you showcase your best Zapier-powered workflows where it''s most

    helpful to your users (within the flow of your tool). You can customize styling, streamline Zap set-up for users,

    expose relevant Zap information, and more!


    With the Partner API, you can:


    - Get a list of all the apps available in Zapier''s app directory so you can power your app directory and show your

    users all the integration possibilities with your Zapier integration.

    - Have complete style control over how you present Zap templates in your product. The Partner API gives you access

    to the raw Zap Template data so you can give your users access to your Zap template with your product''s style, look

    and feel.

    - Get access to all your Zap templates and give your users the ability to search to quickly find the one they need.

    - Streamline Zap setup by pre-filling fields on behalf of your users.

    - Show users the Zaps they have set up from right within your product keeping them on your site longer and giving them

    complete confidence in their Zapier integration.

    - Embed our Zapier Editor to allow your users to create new Zaps and modify existing ones, without needing to leave

    your product.


    ## Authentication


    There are two ways to authenticate with the Partner API.


    1. Your application''s `client_id` which you will receive once you are approved for access to the API

    (Client ID Authentication)

    2. A user''s access token (Access Token Authentication).


    Which authentication method you should use depends on which endpoint(s) you are using.

    Review each endpoint''s documentation to understand which parameters are required.


    > Note: while we do generate a `client_secret`, the type of grant we use (implicit) doesn''t

    need it so it''s not something we provide.''


    ## Learn more


    See the [Workflow API documentation](https://docs.zapier.com/partner-solutions/workflow-api/intro) for more information.

    '
  contact:
    name: Zapier
    url: https://developer.zapier.com/contact
servers:
- url: https://api.zapier.com
tags:
- name: Apps
  description: Refers to resources interacting with 'Apps' associated resources
paths:
  /v1/apps:
    get:
      operationId: v1_apps_list
      description: This endpoint returns a list of apps sorted popularity. See the List Apps guide to get started.
      summary: Zapier Get Apps [v1]
      parameters:
      - in: query
        name: category
        schema:
          type: string
        description: Categories that apps must have in order to be returned in the response
        example: google
      - in: query
        name: is_in_zap_template_with
        schema: {}
        description: If set, only return apps that are in a Zap Template with your app
        example: ''
      - in: query
        name: page
        schema:
          type: number
        description: Which page to return
        example: 42.5
      - in: query
        name: per_page
        schema:
          type: number
        description: Number of results to return per page
        example: 42.5
      - in: query
        name: title_search
        schema:
          type: string
        description: Case-insensitive parameter to limit the results to apps whose titles match
        example: google+calendar
      - in: query
        name: title_starts_with
        schema:
          type: string
        description: Case-insensitive parameter to only return apps whose titles start with the parameter value in the response
        example: google
      tags:
      - Apps
      security:
      - ClientIDAuthentication: []
      responses:
        '403':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                V1_apps_list403Example:
                  summary: Default v1_apps_list 403 response
                  x-microcks-default: true
                  value: {}
          description: 403 Response
        '401':
          description: Missing client_id in query parameters
        '409':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                V1_apps_list409Example:
                  summary: Default v1_apps_list 409 response
                  x-microcks-default: true
                  value: {}
          description: 409 Response
        '429':
          headers:
            Retry-After:
              schema:
                type: string
                format: uri
              description: Indicates when to retry the request
            X-RateLimit-Limit:
              schema:
                type: string
                format: uri
              description: The maximum number of requests you're permitted to make per hour.
            X-RateLimit-Remaining:
              schema:
                type: string
                format: uri
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: string
                format: uri
              description: The time at which the current rate limit window resets in UTC epoch seconds.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                V1_apps_list429Example:
                  summary: Default v1_apps_list 429 response
                  x-microcks-default: true
                  value: {}
          description: 429 Response
        '503':
          headers:
            Retry-After:
              schema:
                type: string
                format: uri
              description: Indicates when to retry the request
            X-RateLimit-Limit:
              schema:
                type: string
                format: uri
              description: The maximum number of requests you're permitted to make per hour.
            X-RateLimit-Remaining:
              schema:
                type: string
                format: uri
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: string
                format: uri
              description: The time at which the current rate limit window resets in UTC epoch seconds.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                V1_apps_list503Example:
                  summary: Default v1_apps_list 503 response
                  x-microcks-default: true
                  value: {}
          description: 503 Response
        '504':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                V1_apps_list504Example:
                  summary: Default v1_apps_list 504 response
                  x-microcks-default: true
                  value: {}
          description: 504 Response
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppsResponse'
              examples:
                /v1/apps:
                  value:
                  - total: 3649
                    page: 2
                    pages: 1825
                    per_page: 2
                    objects:
                    - uuid: ca83afc5-ee9a-470d-b577-e7f8fd555b67
                      title: Slack
                      slug: slack
                      description: 'Slack is a platform for team communication: everything in one place, instantly searchable, available wherever you go. Offering instant messaging, document sharing and knowledge search for modern teams.'
                      image: https://zapier-images.imgix.net/storage/services/6cf3f5a461feadfba7abc93c4c395b33_2.png?auto=format%2Ccompress&ixlib=python-3.0.0&q=50
                      url: https://api.zapier.com/v1/embed/apps/google-ads/integrations/slack
                      links:
                        mutual:zap_templates: https://api.zapier.com/v1/zap-templates?apps=slack&utm_source=partner&utm_medium=embed&utm_campaign=partner_api&referer=zapier
                      categories:
                      - slug: team-chat
                      images:
                        url_16x16: https://zapier-images.imgix.net/storage/services/6cf3f5a461feadfba7abc93c4c395b33_2.png?auto=format%2Ccompress&fit=crop&h=16&ixlib=python-3.0.0&q=50&w=16
                        url_32x32: https://zapier-images.imgix.net/storage/services/6cf3f5a461feadfba7abc93c4c395b33_2.png?auto=format%2Ccompress&fit=crop&h=32&ixlib=python-3.0.0&q=50&w=32
                        url_64x64: https://zapier-images.imgix.net/storage/services/6cf3f5a461feadfba7abc93c4c395b33_2.png?auto=format%2Ccompress&fit=crop&h=64&ixlib=python-3.0.0&q=50&w=64
                        url_128x128: https://zapier-images.imgix.net/storage/services/6cf3f5a461feadfba7abc93c4c395b33_2.png?auto=format%2Ccompress&fit=crop&h=128&ixlib=python-3.0.0&q=50&w=128
                      app_latest: SlackCLIAPI@latest
                    - uuid: d74234df-0045-436e-bd5b-ee577e74e6b8
                      title: Google Calendar
                      slug: google-calendar
                      description: Google Calendar lets you organize your schedule and share events with co-workers and friends. With Google's free online calendar, it's easy to keep track of your daily schedule.
                      image: https://zapier-images.imgix.net/storage/services/62c82a7958c6c29736f17d0495b6635c.png?auto=format%2Ccompress&ixlib=python-3.0.0&q=50
                      url: https://api.zapier.com/v1/embed/apps/google-ads/integrations/google-calendar
                      links:
                        mutual:zap_templates: https://api.zapier.com/v1/zap-templates?apps=google-calendar&utm_source=partner&utm_medium=embed&utm_campaign=partner_api&referer=zapier
                      categories:
                      - slug: calendar
                      - slug: google
                      images:
                        url_16x16: https://zapier-images.imgix.net/storage/services/62c82a7958c6c29736f17d0495b6635c.png?auto=format%2Ccompress&fit=crop&h=16&ixlib=python-3.0.0&q=50&w=16
                        url_32x32: https://zapier-images.imgix.net/storage/services/62c82a7958c6c29736f17d0495b6635c.png?auto=format%2Ccompress&fit=crop&h=32&ixlib=python-3.0.0&q=50&w=32
                        url_64x64: https://zapier-images.imgix.net/storage/services/62c82a7958c6c29736f17d0495b6635c.png?auto=format%2Ccompress&fit=crop&h=64&ixlib=python-3.0.0&q=50&w=64
                        url_128x128: https://zapier-images.imgix.net/storage/services/62c82a7958c6c29736f17d0495b6635c.png?auto=format%2Ccompress&fit=crop&h=128&ixlib=python-3.0.0&q=50&w=128
                      app_latest: GoogleCalendarCLIAPI@latest
                    prev_url: https://api.zapier.com/v1/apps?per_page=2&page=1
                    next_url: https://api.zapier.com/v1/apps?per_page=2&page=3
                  description: '

                    - Your own app will not be returned.

                    - Zapier built-in apps will not be returned.

                    - Order of the result is by app popularity.

                    '
          description: ''
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/actions:
    get:
      operationId: get-actions
      description: 'Fetch the available actions for the provided App. It''s typical to filter by type so that only actions that make sense for a particular step are shown. Action IDs may not be reused, see our documentation for how to hardcode a particular action.


        #### When using Client ID


        Simply providing a client ID query parameter is sufficient. If an Authorization header is present, it will be used instead.


        #### When using OAuth


        This endpoint requires the `zap` OAuth scope.'
      summary: Zapier Get Actions
      parameters:
      - in: query
        name: action_type
        schema:
          type: string
          enum:
          - READ
          - READ_BULK
          - SEARCH
          - SEARCH_AND_WRITE
          - SEARCH_OR_WRITE
          - WRITE
        description: The type of Action to filter for. Defaults to returning all actions regardless of type.
        example: READ
      - in: query
        name: app
        schema:
          type: string
          format: uuid
        description: A canonical App ID, as provided by the `/apps` endpoint.
        required: true
        example: 868f9d3c-2ea0-4f19-a32d-a61b276ab8de
      tags:
      - Apps
      security:
      - OAuth:
        - zap
      - ClientIDAuthentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActionsResponse'
              examples:
                ActionsExample:
                  value:
                  - links:
                      next: null
                      prev: null
                    meta:
                      count: 1
                      limit: 10
                      offset: 0
                    data:
                    - id: uag:1f188536-6dd0-4172-8414-2b90914ddee9
                      key: new_lead
                      app: 83b47c0e-adda-44da-a45d-42565fe521ef
                      type: action
                      action_type: action
                      is_instant: true
                      title: New Lead
                      description: Triggers when a new lead is added to SuperExampleCRM
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-actions403Example:
                  summary: Default get-actions 403 response
                  x-microcks-default: true
                  value:
                    errors: &id001
                    - {}
          description: 403 Response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-actions401Example:
                  summary: Default get-actions 401 response
                  x-microcks-default: true
                  value:
                    errors: *id001
          description: 401 Response
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-actions409Example:
                  summary: Default get-actions 409 response
                  x-microcks-default: true
                  value:
                    errors: *id001
          description: 409 Response
        '429':
          headers:
            Retry-After:
              schema:
                type: string
                format: uri
              description: Indicates when to retry the request
            X-RateLimit-Limit:
              schema:
                type: string
                format: uri
              description: The maximum number of requests you're permitted to make per hour.
            X-RateLimit-Remaining:
              schema:
                type: string
                format: uri
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: string
                format: uri
              description: The time at which the current rate limit window resets in UTC epoch seconds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-actions429Example:
                  summary: Default get-actions 429 response
                  x-microcks-default: true
                  value:
                    errors: *id001
          description: 429 Response
        '503':
          headers:
            Retry-After:
              schema:
                type: string
                format: uri
              description: Indicates when to retry the request
            X-RateLimit-Limit:
              schema:
                type: string
                format: uri
              description: The maximum number of requests you're permitted to make per hour.
            X-RateLimit-Remaining:
              schema:
                type: string
                format: uri
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: string
                format: uri
              description: The time at which the current rate limit window resets in UTC epoch seconds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-actions503Example:
                  summary: Default get-actions 503 response
                  x-microcks-default: true
                  value:
                    errors: *id001
          description: 503 Response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-actions504Example:
                  summary: Default get-actions 504 response
                  x-microcks-default: true
                  value:
                    errors: *id001
          description: 504 Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                MalformedRequest.:
                  value:
                    errors:
                    - status: 400
                      code: parse_error
                      title: ParseError
                      detail: Malformed request.
                      source: null
                      meta:
                        source: ZAPIER
                        full_details:
                          message: Malformed request.
                          code: parse_error
                  summary: Malformed request.
          description: This schema can be expected for 4xx 'Malformed request.' errors
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AServerErrorOccurred.:
                  value:
                    errors:
                    - status: 500
                      code: error
                      title: APIException
                      detail: A server error occurred.
                      source: null
                      meta:
                        source: ZAPIER
                        full_details:
                          message: A server error occurred.
                          code: error
                  summary: A server error occurred.
          description: This schema can be expected for 5xx 'A server error occurred.' errors
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/apps:
    get:
      operationId: get-v2-apps
      description: 'This endpoint returns a list of apps sorted by popularity.


        #### When using Client ID


        Simply providing a client ID query parameter is sufficient. If an Authorization header is present, it will be used instead.


        #### When using OAuth


        This endpoint requires the `zap` OAuth scope.'
      summary: Zapier Get Apps [v2]
      parameters:
      - in: query
        name: category
        schema:
          type: string
        description: "Categories that apps must have in order to be returned in the response. \nThe full list of valid categories can be retrieved using the `category` endpoint, detailed [here](https://platform.zapier.com/embed/partner-api#get-v1categories)."
        example: ai-tools
      - in: query
        name: ids
        schema:
          type: string
        description: Parameter to restrict the results to apps whose ID matches those in the provided comma-separated value. Cannot be combined with `category`.
        example: example-value
      - in: query
        name: limit
        schema:
          type: integer
        description: Used for paginating results. Specifies the maximum number of items to return per page. If this value is not set, it defaults to 10.
        example: 10
      - in: query
        name: offset
        schema:
          type: integer
        description: Used for paginating results. Specifies the offset to use.
        example: 100
      - in: query
        name: query
        schema:
          type: string
        description: Parameter to limit the results to apps whose titles match the provided query.
        example: example-value
      tags:
      - Apps
      security:
      - OAuth:
        - zap
      - ClientIDAuthentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExpandedAppsResponse'
              examples:
                /v2/apps:
                  value:
                  - data:
                    - id: 1e4fcbf4-d80b-4ec3-b33b-c085f1ecbbaa
                      type: app
                      image: https://zapier-images.imgix.net/storage/developer/cde9764aa8d19fdd6d591455dbe5a78d.png?auto=format%2Ccompress&ixlib=python-3.0.0&q=50
                      links:
                        connect_new_authentication: https://zapier.com/engine/auth/start/HubSpotCLIAPI@1.7.1?redirect=https%3A%2F%2Fapi.zapier.com%2Fv2%2Fauthentications%2Fredirect
                      action_types:
                      - READ
                      title: HubSpot
                      images:
                        url_16x16: https://zapier-images.imgix.net/storage/developer/cde9764aa8d19fdd6d591455dbe5a78d.png?auto=format%2Ccompress&fit=crop&h=16&ixlib=python-3.0.0&q=50&w=16
                        url_32x32: https://zapier-images.imgix.net/storage/developer/cde9764aa8d19fdd6d591455dbe5a78d.png?auto=format%2Ccompress&fit=crop&h=32&ixlib=python-3.0.0&q=50&w=32
                        url_64x64: https://zapier-images.imgix.net/storage/developer/cde9764aa8d19fdd6d591455dbe5a78d.png?auto=format%2Ccompress&fit=crop&h=64&ixlib=python-3.0.0&q=50&w=64
                        url_128x128: https://zapier-images.imgix.net/storage/developer/cde9764aa8d19fdd6d591455dbe5a78d.png?auto=format%2Ccompress&fit=crop&h=128&ixlib=python-3.0.0&q=50&w=128
                      hex_color: 8bcbca
                      categories:
                      - slug: partners
                      description: HubSpot is your all-in-one stop for all of your marketing software needs.
                    meta:
                      count: 1
                      offset: 10
                      limit: 10
                    links:
                      next: https://api.zapier.com/v2/apps?offset=20&limit=10
                      previous: https://api.zapier.com/v2/apps?offset=0&limit=10
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-v2-apps403Example:
                  summary: Default get-v2-apps 403 response
                  x-microcks-default: true
                  value:
                    errors: &id002
                    - {}
          description: 403 Response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-v2-apps401Example:
                  summary: Default get-v2-apps 401 response
                  x-microcks-default: true
                  value:
                    errors: *id002
          description: 401 Response
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-v2-apps409Example:
                  summary: Default get-v2-apps 409 response
                  x-microcks-default: true
                  value:
                    errors: *id002
          description: 409 Response
        '429':
          headers:
            Retry-After:
              schema:
                type: string
                format: uri
              description: Indicates when to retry the request
            X-RateLimit-Limit:
              schema:
                type: string
                format: uri
              description: The maximum number of requests you're permitted to make per hour.
            X-RateLimit-Remaining:
              schema:
                type: string
                format: uri
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: string
                format: uri
              description: The time at which the current rate limit window resets in UTC epoch seconds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-v2-apps429Example:
                  summary: Default get-v2-apps 429 response
                  x-microcks-default: true
                  value:
                    errors: *id002
          description: 429 Response
        '503':
          headers:
            Retry-After:
              schema:
                type: string
                format: uri
              description: Indicates when to retry the request
            X-RateLimit-Limit:
              schema:
                type: string
                format: uri
              description: The maximum number of requests you're permitted to make per hour.
            X-RateLimit-Remaining:
              schema:
                type: string
                format: uri
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: string
                format: uri
              description: The time at which the current rate limit window resets in UTC epoch seconds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-v2-apps503Example:
                  summary: Default get-v2-apps 503 response
                  x-microcks-default: true
                  value:
                    errors: *id002
          description: 503 Response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get-v2-apps504Example:
                  summary: Default get-v2-apps 504 response
                  x-microcks-default: true
                  value:
                    errors: *id002
          description: 504 Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                MalformedRequest.:
                  value:
                    errors:
                    - status: 400
                      code: parse_error
                      title: ParseError
                      detail: Malformed request.
                      source: null
                      meta:
                        source: ZAPIER
                        full_details:
                          message: Malformed request.
                          code: parse_error
                  summary: Malformed request.
          description: This schema can be expected for 4xx 'Malformed request.' errors
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AServerErrorOccurred.:
                  value:
                    errors:
                    - status: 500
                      code: error
                      title: APIException
                      detail: A server error occurred.
                      source: null
                      meta:
                        source: ZAPIER
                        full_details:
                          message: A server error occurred.
                          code: error
                  summary: A server error occurred.
          description: This schema can be expected for 5xx 'A server error occurred.' errors
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/whitelabel/apps:
    get:
      operationId: v2-whitelabel-apps-list
      description: This endpoint returns a list of apps available for whitelabel connection. It is only for customers enrolled in the Zapier Whitelabel program. All others likely want the `Get Apps` endpoint instead.
      summary: Zapier Get Whitelabel Apps [v2]
      parameters:
      - in: query
        name: category
        schema:
          type: string
        description: Filter apps by category slug.
        example: standard
      - in: query
        name: limit
        schema:
          type: number
        description: Limit the number of apps returned.
        example: 42.5
      - in: query
        name: offset
        schema:
          type: number
          default: 0
        description: The number of apps to skip before beginning to return results.
        example: 0
      - in: query
        name: search
        schema:
          type: string
        description: Case-insensitive search to filter apps by title.
        example: example-value
      tags:
      - Apps
      responses:
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                V2-whitelabel-apps-list403Example:
                  summary: Default v2-whitelabel-apps-list 403 response
                  x-microcks-default: true
                  value:
                    errors: &id003
                    - {}
          description: 403 Response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                V2-whitelabel-apps-list401Example:
                  summary: Default v2-whitelabel-apps-list 401 response
                  x-microcks-default: true
                  value:
                    errors: *id003
          description: 401 Response
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                V2-whitelabel-apps-list409Example:
                  summary: Default v2-whitelabel-apps-list 409 response
                  x-microcks-default: true
                  value:
                    errors: *id003
          description: 409 Response
        '429':
          headers:
            Retry-After:
              schema:
                type: string
                format: uri
              description: Indicates when to retry the request
            X-RateLimit-Limit:
              schema:
                type: string
                format: uri
              description: The maximum number of requests you're permitted to make per hour.
            X-RateLimit-Remaining:
              schema:
                type: string
                format: uri
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: string
                format: uri
              description: The time at which the current rate limit window resets in UTC epoch seconds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                V2-whitelabel-apps-list429Example:
                  summary: Default v2-whitelabel-apps-list 429 response
                  x-microcks-default: true
                  value:
                    errors: *id003
          description: 429 Response
        '503':
          headers:
            Retry-After:
              schema:
                type: string
                format: uri
              description: Indicates when to retry the request
            X-RateLimit-Limit:
              schema:
                type: string
                format: uri
              description: The maximum number of requests you're permitted to make per hour.
            X-RateLimit-Remaining:
              schema:
                type: string
                format: uri
              description: The number of requests remaining in the current rate limit window.
            X-RateLimit-Reset:
              schema:
                type: string
                format: uri
              description: The time at which the current rate limit window resets in UTC epoch seconds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                V2-whitelabel-apps-list503Example:
                  summary: Default v2-whitelabel-apps-list 503 response
                  x-microcks-default: true
                  value:
                    errors: *id003
          description: 503 Response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                V2-whitelabel-apps-list504Example:
                  summary: Default v2-whitelabel-apps-list 504 response
                  x-microcks-default: true
                  value:
                    errors: *id003
          description: 504 Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                MalformedRequest.:
                  value:
                    errors:
                    - status: 400
                      code: parse_error
                      title: ParseError
                      detail: Malformed request.
                      source: null
                      meta:
                        source: ZAPIER
                        full_details:
                          message: Malformed request.
                          code: parse_error
                  summary: Malformed request.
          description: This schema can be expected for 4xx 'Malformed request.' errors
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AServerErrorOccurred.:
                  value:
                    errors:
                    - status: 500
                      code: error
                      title: APIException
                      detail: A server error occurred.
                      source: null
                      meta:
                        source: ZAPIER
                        full_details:
                          message: A server error occurred.
                          code: error
                  summary: A server error occurred.
          description: This schema can be expected for 5xx 'A server error occurred.' errors
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WhitelabelAppsResponse'
              examples:
                V2-whitelabel-apps-list200Example:
                  summary: Default v2-whitelabel-apps-list 200 response
                  x-microcks-default: true
                  value:
                  - data:
                    - {}
                    links: {}
                    meta: {}
          description: ''
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    App:
      type: object
      description: App (Service).
      properties:
        uuid:
          type: string
          format: uuid
          description: The UUID identifier of this App
          example: 550e8400-e29b-41d4-a716-446655440000
        title:
          type: string
          description: The title of this App
          example: Example Name
        slug:
          type: string
          description: The shortened slug identified of this App
          pattern: ^[-a-zA-Z0-9_]+$
          example: example-value
        description:
          type: string
          description: The description of this App
          example: Example description for this resource.
        image:
          type: string
          format: uri
          description: A URL to an image representing this App
          example: https://example.com/path/abc123
        url:
          type: string
          readOnly: true
          description: A URL to an embed with your App and this one
          example: https://example.com/path/abc123
        links:
          type: object
          additionalProperties:
            type: string
          readOnly: true
          description: An object whose 'mutual:zap_templates' key is a URL to shared Zap Templates between your App and this one
          example: {}
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
          description: A list of Categories associated with this App
          example:
          - {}
        images:
          type: object
          additionalProperties: {}
          description: An object containing images representing this App of various sizes
          example: {}
        app_latest:
          type: string
          readOnly: true
          description: Shorthand for referencing the latest version of this App
          example: example-value
      required:
      - app_latest
      - categories
      - description
      - image
      - images
      - links
      - slug
      - title
      - url
      - uuid
    ActionTypeEnum:
      enum:
      - action
      type: string
      description: '* `action` - action'
    AppsImages:
      type: object
      description: Images/icons of various resolutions to represent the app.
      properties:
        url_16x16:
          type: string
          description: 16x16 resolution image URL
          example: example-value
        url_32x32:
          type: string
          description: 32x32 resolution image URL
          example: example-value
        url_64x64:
          type: string
          description: 64x64 resolution image URL
          example: example-value
        url_128x128:
          type: string
          description: 128x128 resolution image URL
          example: example-value
      required:
      - url_128x128
      - url_16x16
      - url_32x32
      - url_64x64
    WhitelabelAppsResponse:
      type: object
      description: A JSON:API-style response of apps available for whitelabel connection.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WhitelabelApp'
          description: The list of apps.
          example:
          - {}
        links:
          type: object
          additionalProperties: {}
          readOnly: true
          description: Pagination links.
          example: {}
        meta:
          type: object
          additionalProperties: {}
          readOnly: true
          description: Pagination metadata.
          example: {}
      required:
      - data
      - links
      - meta
    WhitelabelAppLinks:
      type: object
      properties:
        mcp_authorize_url:
          type: string
          format: uri
          description: URL to authorize the user for MCP. Requires a session token to be set in the query parameters. Returns an OAuth exchange code.
          example: https://example.com/path/abc123
        mcp_server_url:
          type: string
          format: uri
          description: URL of the MCP server for this app. Requires an access token bound to a connection.
          example: https://example.com/path/abc123
      required:
      - mcp_authorize_url
      - mcp_server_url
    AppsResponse:
      type: object
      description: A page of returned apps.
      properties:
        total:
          type: integer
          description: The total number of Apps that matched
          example: 100
        page:
          type: integer
          readOnly: true
          description: The current page returned
          example: 100
        pages:
          type: integer
          readOnly: true
          description: The total number of pages
          example: 100
        per_page:
          type: integer
          readOnly: true
          description: How many Apps are returned per-page
          example: 100
        objects:
          type: array
          items:
            $ref: '#/components/schemas/App'
          description: A list containing all matching Apps'
          example:
          - {}
        prev_url:
          type: string
          format: uri
          readOnly: true
          description: The URL to call to get the previous matching Apps
          example: https://example.com/path/abc123
        next_url:
          type: string
          format: uri
          readOnly: true
          description: The URL to call to get the next matching Apps
          example: https://example.com/path/abc123
      required:
      - next_url
      - objects
      - page
      - pages
      - per_page
      - prev_url
      - total
    ActionsResponse:
      type: object
      description: A valid response for fetching available actions for the App
      properties:
        links:
          allOf:
          - $ref: '#/components/schemas/Links'
          description: The links object returned in paginated response bodies.
          example: example-value
        meta:
          allOf:
          - $ref: '#/components/schemas/BaseMeta'
          description: The meta object returned in paginated response bodies.
          example: example-value
        data:
          type: array
          items:
            $ref: '#/components/schemas/Action'
          description: List of Actions for the provided App
          example:
          - {}
      required:
      - links
      - meta
    WhitelabelApp:
      type: object
      description: An app available for whitelabel connection.
      properties:
        type:
          type: string
          readOnly: true
          default: app
          description: The resource type.
          example: app
        id:
          type: string
          readOnly: true
          description: The app's unique identifier.
          example: '500123'
        title:
          type: string
          description: The app's display name.
          example: Example Name
        image:
          type: string
          format: uri
          description: URL of the app's icon.
          example: https://example.com/path/abc123
        is_oauth:
          type: boolean
          readOnly: true
          description: Whether the app uses OAuth for authentication.
          example: true
        has_fields:
          type: boolean
          readOnly: true
          description: Whether the app has input fields a user must fill in when connecting.
          example: true
        has_byoc:
          type: boolean
          readOnly: true
          description: Whether the app requires the user to supply their own OAuth client credentials (client ID and/or client secret) when connecting. This is a best-effort heuristic based on the app's auth field names and labels.
          example: true
        links:
          allOf:
          - $ref: '#/components/schemas/WhitelabelAppLinks'
          readOnly: true
          description: Related URLs for this app.
          example: example-value
      required:
      - has_byoc
      - has_fields
      - id
      - image
      - is_oauth
      - links
      - title
      - type
    Category:
      type: object
      description: Category an app belongs to.
      properties:
        slug:
          type: string
          description: The shortened slug name for this category
          example: example-value
      required:
      - slug
    Apps:
      type: object
      description: An app that integrates with Zapier
      properties:
        id:
          type: string
          description: Unique id of the app
          example: '500123'
        type:
          type: string
          default: app
          description: The type of this object.
          example: app
        image:
          type: string
          description: Default image/icon to represent the app.
          example: example-value
        links:
          type: object
          additionalProperties: {}
          description: "A url that, when visited, will direct the user to authenticate with the app and allow Zapier access to the app, thus creating a new Authentication.\n\n            If value is `null`, then no authentication is required to use the app. Client ID-authenticated requests will never have this object's fields populated."
          example: {}
        action_types:
          type: array
          items: {}
          description: A list of action types for this specific App
          example:
          - standard
        title:
          type: string
          description: Human readable name of the app
          example: Example Name
        images:
          allOf:
          - $ref: '#/components/schemas/AppsImages'
          description: The URL of images (of various sizes) for this specific App
          example: example-value
        hex_color:
          type: string
          description: A branded color that can be used to represent the app.
          example: example-value
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
          description: A list of categories to which this app belongs. Helpful in identifying apps by type and functionality.
          example:
          - {}
        description:
          type: string
          description: Human readable description of the app.
          example: Example description for this resource.
      required:
      - action_types
      - categories
      - description
      - hex_color
      - id
      - image
      - images
      - links
      - title
    Error:
      type: object
      description: Base Error definition
      properties:
        status:
          type: integer
          description: The HTTP status code applicable to this problem.
          example: 100
        code:
          type: string
          description: A unique identifier for this particular occurrence of the problem.
          example: example-value
        title:
          type: string
          description: A short summary of the problem.
          example: Example Name
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: example-value
        source:
          oneOf:
          - $ref: '#/components/schemas/ErrorSource'
          - type: 'null'
          description: An object containing references to the primary source of the error.
          example: example-value
        meta:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Freeform metadata about the error
          example: {}
    BaseMeta:
      type: object
      description: The meta object returned in paginated response bodies.
      properties:
        count:
          type: integer
          minimum: 0
          description: The total number of objects in the collection represented by the endpoint.
          example: 100
        limit:
          type:
          - integer
          - 'null'
          minimum: 1
          description: The limit value used in the request.
          example: 100
        offset:
          type: integer
          minimum: 0
          default: 0
          description: The offset value used in the request.
          example: 0
      required:
      - count
      - limit
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: An array of error objects.
          example:
          - {}
      required:
      - errors
    Links:
      type: object
      description: The links object returned in paginated response bodies.
      properties:
        next:
          type:
          - string
          - 'null'
          description: The URL of the next page of paginated results.
          example: example-value
        prev:
          type:
          - string
          - 'null'
          description: The URL of the previous page of paginated results.
          example: example-value
    Action:
      type: object
      description: An Action is an operation that can be performed against a third-party API; either a read or a write. A Zap is composed of a read, followed by one or more writes.
      properties:
        id:
          type: string
          description: The ID to refer to this action (unstable, may change when referenced app changes)
          example: '500123'
        key:
          type: string
          description: The developer provided identifier for this Action (stable)
          example: example-value
        app:
          description: Apps
          oneOf:
          - $ref: '#/components/schemas/Apps'
          - type: string
          example: example-value
        type:
          allOf:
          - $ref: '#/components/schemas/ActionTypeEnum'
          description: 'The type of this object


            * `action` - action'
          example: standard
        action_type:
          allOf:
          - $ref: '#/components/schemas/ActionTypeEnum'
          description: 'The type of this Action


            * `READ` - READ

            * `READ_BULK` - READ_BULK

            * `WRITE` - WRITE

            * `SEARCH` - SEARCH

            * `SEARCH_OR_WRITE` - SEARCH_OR_WRITE

            * `SEARCH_AND_WRITE` - SEARCH_AND_WRITE

            * `FILTER` - FILTER'
          example: standard
        is_instant:
          type: boolean
          description: Will be set to `true` if this Action triggers instantly. May only be `true` when `type` is `READ`.
          example: true
        title:
          type: string
          description: The title of this Action.
          example: Example Name
        description:
          type: string
          description: A longer description of this Action, usually describing what it does in more detail.
          example: Example description for this resource.
      required:
      - action_type
      - app
      - description
      - id
      - is_instant
      - key
      - title
      - type
    ExpandedAppsResponse:
      type: object
      description: An app that integrates with Zapier.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Apps'
          description: A list of the Apps matching the request
          example:
          - {}
        meta:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
          description: Used for paginating results. Specifies the maximum number of items to return per page.
          example: {}
        links:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
          description: Used for paginating results. Specifies the offset to use. Defaults to 0
          example: {}
      required:
      - data
      - links
      - meta
    ErrorSource:
      type: object
      description: Populates the `source` object inside our error responses.
      properties:
        pointer:
          type: string
          description: Pointer to the value in the request document that caused the error e.g. `/actions`.
          example: example-value
        parameter:
          type: string
          description: A string indicating which URI query parameter caused the error.
          example: example-value
        header:
          type: string
          description: A string indicating the name of a single request header which caused the error.
          example: example-value
  securitySchemes:
    ClientIDAuthentication:
      type: apiKey
      in: query
      name: client_id
      description: See our authentication documentation for how to find your Client ID
      x-zapier-auth-scheme-exempt: true
    OAuth:
      type: oauth2
      description: 'See our OAuth2 authentication documentation here: https://docs.zapier.com/powered-by-zapier/api-reference/authentication'
      flows:
        authorizationCode:
          authorizationUrl: https://zapier.com/oauth/authorize/
          tokenUrl: https://zapier.com/oauth/token/
          refreshUrl: https://zapier.com/oauth/token/
          scopes:
            profile: Read profile information about the currently-authenticated user
            zap: Read Zaps
            zap:write: Write Zaps
            authentication: Read Authentications
            authentication:write: Write Authentications
            zap:runs: Read Zap Runs
            action:run: Run an Action
            zap:all: Read Zaps accessible to the account
        implicit:
          authorizationUrl: https://zapier.com/oauth/authorize/
          scopes:
            profile: Read profile information about the currently-authenticated user
            zap: Read Zaps
            zap:write: Write Zaps
            authentication: Read Authentications
            authentication:write: Write Authentications
            zap:runs: Read Zap Runs
            action:run: Run an Action
            zap:all: Read Zaps accessible to the account
